
body{
background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-control{
	margin-left: 500px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  display: flex;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
  color : blue;
}
.card{
  margin-top: 250px;
  margin-left: 50px;
  
}
.cardd button {
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.cardd button:hover {
  opacity: 0.7;
  color : blue;
}
.cardd{
  margin-top: 250px;
  margin-left: 50px;
  
}

.cardd {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  display: flex;
  text-align: center;
  font-family: arial;
}
.nav-link {
	font-size: 30px;
}


.navbar-brand {
	font-size: 90px;
}
.navbar{
background: #8e9eab;  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); 
background: linear-gradient(to right, #eef2f3, #8e9eab); 
}